body {
  font-size: 12px;
  font-family: Arial;
}

.flex-container {
  display: flex;
  height: 300px;
  color: #fff;
  font-size: 2.6em;
  flex-flow: column wrap;
}

.flex-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.3);
}

form {
  height: 180px;
}

.one {
  background: #508694;
  font-size: 0.5em;
  margin-right: 10px;
  flex-basis: 100%;
  order: 1;
  min-width: 340px;
}

input[type="radio"] {
  display: none;
}

label {
  cursor: pointer;
  position: relative;
}

.label-radio::before,
.label-radio::after {
  content: "";
  position: absolute;
  top: 0;
  left: -25px;
  border-radius: 50%;
}

.label-radio::before {
  width: 11px;
  height: 11px;
  border: solid 2px #002b31;
}

.label-radio::after {
  width: 7px;
  height: 7px;
  background-color: #002b31;
  top: 4px;
  left: -21px;
  transform: scale(0);
  transition: transform 0.3s;
}

input[type="radio"]:checked ~ .label-radio::after {
  transform: scale(1.7);
}

.one__attach {
  display: none;
  position: relative;
}

.one__with-input[type="radio"]:checked ~ .one__attach {
  display: block;
}

.one__attach input {
  border: none;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 200px;
  padding: 5px;
  background-color: #508694;
  border-bottom: solid 1px #31525a;
  color: white;
}

.one__attach input::before,
.one__attach input::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #31525a;
}

.one__attach label {
  position: absolute;
  top: 20px;
  left: 5px;
  pointer-events: none;
  transition: 0.2s ease all;
}

.one__attach input {
  margin-right: 10px;
}

input:focus ~ label {
  font-size: 0.8em;
  transform: translateY(-15px);
}

.input_fill {
  font-size: 0.8em;
  transform: translateY(-15px);
}

.one__with,
.one__without {
  margin-bottom: 10px;
}

button {
  border: none;
  padding: 5px;
  border-radius: 5px;
  margin-top: 15px;
  width: 90px;
  height: 30px;
  color: rgba(0, 0, 0, 0.8);
}

button:hover {
  box-shadow: -1px 2px 3px 0 rgba(0, 0, 0, 0.4);
}

button:active {
  box-shadow: inset -1px 2px 3px 0 rgba(0, 0, 0, 0.5);
}

.two {
  background: #BB844C;
  margin-bottom: 10px;
  flex: 1 1 0;
  order: 2;
}

.three {
  background: #929D79;
  flex: 1 1 0;
  order: 3;
}


.one__attach {
  position: relative;
}
input.error {
  color: #ff817e;
}
input.error~.validat::before,
input.error~.validat::after {
  content: '';
  position: absolute;
  top: 33px;
  right: 33px;
  width: 20px;
  height: 2px;
  background-color: #ff817e;
}
input.error~.validat::before {
  transform: rotate(45deg);
}
input.error~.validat::after {
  transform: rotate(-45deg);
}
input.valid~.validat::before,
input.valid~.validat::after {
  content: '';
  position: absolute;
  height: 2px;
  background-color: #6ace00;
}
input.valid~.validat::before {
  transform: rotate(-50deg);
  width: 16px;
  top: 33px;
  right: 33px;
}
input.valid~.validat::after {
  transform: rotate(50deg);
  width: 7px;
  top: 35px;
  right: 45px;
}
input.valid {
  color: #6ace00;
}

@media(max-width: 670px) {
  .one {
    margin-bottom: 10px;
    height: 300px;
  }
  .two,
  .three {
    /*display: none;*/
    flex-basis: 100%;
    margin-right: 10px;
    min-height: 40px;
    min-width: 340px;
  }
  .flex-container {
    flex-direction: row;
    min-height: 300px;
  }
}
